
<mat-card class="card">
    <h2 i18n>Câmbio</h2>
    <div>
      <mat-form-field appearance="fill">
          <mat-label>Selecionar Moeda</mat-label>
          <mat-select ([value])='option1' (change)="onChangeOption1($event.target.value)">
            <mat-option *ngFor="let currency of currencys" [value]="currency.key">
              {{currency.name}}
            </mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
          <mat-label>Valor</mat-label>
          <input matInput type="number" class="example-right-align">
          <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div>
      <mat-form-field appearance="fill">
          <mat-label>Selecionar Moeda</mat-label>
          <mat-select ([value])='option2' (change)="onChangeOption2($event.target.value)">
            <mat-option *ngFor="let currency of currencys" [value]="currency.key">
              {{currency.name}}
            </mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
          <mat-label>Valor</mat-label>
          <input matInput type="number" class="example-right-align">
          <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>
</mat-card>

